{% extends 'base.html.twig' %}

{% block title %}Modifier un Sweatshirt{% endblock %}

{% block body %}
    <h1>Modifier un Sweatshirt</h1>

   <form method="POST" enctype="multipart/form-data">
    <label for="name">Nom :</label>
    <input type="text" id="name" name="name" value="{{ sweatshirt.name }}" required>

    <label for="price">Prix :</label>
    <input type="number" id="price" name="price" value="{{ sweatshirt.price }}" step="0.01" required>

    <label for="sizes">Tailles :</label>
    <input type="text" id="sizes" name="sizes[]" value="{{ sweatshirt.sizes|keys|join(', ') }}" required>

    <label for="quantities">Quantités :</label>
    <input type="text" id="quantities" name="quantities[]" value="{{ sweatshirt.sizes|map(s => s)|join(', ') }}" required>


    <label for="featured">En vedette :</label>
    <input type="checkbox" id="featured" name="featured" {% if sweatshirt.featured %}checked{% endif %}>

    <label for="image">Image :</label>
    <input type="file" id="image" name="image" accept=".jpg,.jpeg">

    <button type="submit">Modifier</button>
</form>


{% endblock %}
