{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paiement annulé</h1>
    <p>Votre paiement a été annulé. Vous pouvez revenir à votre panier ou réessayer plus tard.</p>
    <a href="{{ path('app_cart') }}">Retourner au panier</a>
{% endblock %}
